extends ../layouts/default

block content
	div(style="padding-left: 5vw; padding-right: 5vw;").jumbotron
		h1 さまざまな香辛料
		.lead 160m × 80m の長方形で蒲鉾型。屋根の一番高いところで36m。国際競技の可能なサッカー場がらくらく一面すっぽり入るほどの、とても迫力のある建物です。
		p 九州国立博物館では、大切な文化財を守り伝え、安全にご鑑賞していただくため、皆様にお願いしたいことがあります。次の展示室のマナーは文化交流展示室で配布するマップにも記してありますので、お子様連れの方は、これらをお子様にも教えてあげて下さい。これはビジネス意思決定を行うCMSです。 すべての国とすべてのものがここに入る。

	div(style="padding-left: 5vw; padding-right: 5vw;").overlay--absolute.js-fullscreen
		iframe(allowfullscreen, frameborder='0', scrolling='no', width='560', height='315', src='https://www.youtube.com/embed/imtPF2b2Q4M?enablejsapi=1&autoplay=1&disablekb=1&loop=1').overlay__full.js-fullscreen_iframe
